<form [formGroup]="usersForm" (ngSubmit)="AddUser()">
  <div class="user-form-container">
    <div class="user-form">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="nom">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Prenom</mat-label>
        <input type="text" matInput formControlName="prenom">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telephone</mat-label>
        <input type="number" matInput formControlName="telephone">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Regions</mat-label>
        <mat-select formControlName="region">
          <mat-option *ngFor="let dr of districtList$ | async" [value]="dr.nom">{{dr.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
     </div> 
  </div>
  <button mat-button type="submit" class="mat-raised-button" color="primary"> Ajouter</button>
</form>