.user-form {
    display: flex;
    flex-direction: column;
}

.user-form .mat-form-field {
    width: 200px;
}

.user-form-container {
    display: flex;
}

.filterUsers {
    display: flex;
    justify-content: center;
}

.users-table {
    margin-left: 30px;
}
